*{
    margin: 0;
    padding: 0;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
}

.Slide-Container{
    overflow: hidden;
}

.Slide{
    display: flex;
    transform: translate3d(-80px, 0px, 0px);
}

.Slide li{
    flex-shrink: 0;
    width: 50vw;
    max-width: 800px;
    margin: 0 20px;
}